:root {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.04rem;
  
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    padding: 16px;
  }

  .button-link {
    text-decoration: none;
    margin: 10px;
  }
  
  .button-link button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .button-link button:hover {
    background-color: #0056b3;
  }
  